NETWORK=sepolia

RPC_URL=""

PRIVATE_KEY=""
PUBLIC_KEY=""

CONTRACT_ADDRESS=""
CROWD_FUNDING_CONTRACT_ADDRESS=""

DATABASE_URL=""

DATABASE_URL_USER=""
DATABASE_URL_PASSWORD=""
DATABASE_URL_DB=""

REDIS_URL=""

JWT_SECRET=""
JWT_EXPIRED_IN=""
JWT_MAXAGE=""

GENESIS_ADMIN_EMAIL=""
GENESIS_ADMIN_PASSWORD=""
